ul{
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center space-around;
    padding: 0;
    
}

li{
   margin-left:3em;
   margin-bottom: 3em;
   border: 3px solid rgba(0, 0, 0, 0.378);
   border-radius: .5em;
}

li:hover{
    background-color: gray;
}

.card{
    display: inline-flex;
    align-items: center;
    height: 10em;
    width: 25em;
}


.card img{
    border-radius: 50%;
    height:50%;
}
.pic{
    margin-left: .5em;
    display: flex;
    align-items: center;

}
.container{
    margin-left: 1em;
    text-align: left;
    
}
b{
    text-transform:capitalize;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}


.card-expanded {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    margin-top:10%;
    
}

.pic-expanded{
    padding-top: 5%;
    width:100%;
}
.pic-expanded img{
    border-radius: 50%;
    width: 10em;
    top:15%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lowerInfo{
    border-top:solid gray .1em;
}

.card-expanded:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-expanded {
    padding: 2px 16px;
    
}
#close {
    float:right;
    position: relative;
    cursor:pointer;
    height:1em;
}
#search{

    margin-left: 15em;
}
.arrows{
    position: relative;
    cursor:pointer;
    height:1em;
}